<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <appSettings>
    <add key="apikey1" value="Pa$$word1" />
    <add key="apikey2" value="HcFpBY5lqsVZrSzM85rECq/MF5e3GwYVLqAIL6ORnJHT8fjup7NmiFZAzUhM/x1hdKpOa22/1k8G+ASt23v+mQ==
" />
    <add key="secreto" value="super-secret" />
  </appSettings>

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
